Repository Matthew-Mak/Paradise-SS1984-MM, changes with the labels that .github/labeler.yml gives for each.
All labels: MAP, DMI, TGUI

.github/labeler.yml:

MAP:
  - "**/*.dmm"

DMI:
  - "**/*.dmi"
  - "**/*.png"

TGUI:
  - "**/*.js"

mapload forgotten
  code/modules/mob/living/silicon/silicon.dm
Labels: none

smol dorabotka. again
  code/modules/mob/living/silicon/pai/pai.dm
Labels: none

bugfix for borer
  code/game/gamemodes/miniantags/borer/borer.dm
Labels: none

pupupu
  code/game/mecha/equipment/tools/medical_tools.dm
  code/modules/projectiles/guns/medbeam.dm
  icons/obj/mecha/mecha_equipment.dmi
Labels: DMI

Настройка чиселок, добавление вкалывания блад харвестера, улшение того что есть сейчас.
  code/modules/antagonists/traitor/affiliates/items/hematogenic/blood_harvester.dm
  code/modules/antagonists/traitor/affiliates/items/hematogenic/bloodgrenade.dm
  code/modules/antagonists/traitor/affiliates/items/hematogenic/hemophagus_extract.dm
  code/modules/antagonists/traitor/affiliates/items/tiger/cling_extract.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: none

Update code/modules/projectiles/guns/medbeam.dm
  code/modules/projectiles/guns/medbeam.dm
Labels: none

Update code/modules/projectiles/guns/medbeam.dm
  code/modules/projectiles/guns/medbeam.dm
Labels: none

Update medbeam.dm
  code/modules/projectiles/guns/medbeam.dm
Labels: none

tweak: moders can speak in achat
  code/datums/keybindings/communication_keybinds.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminsay.dm
Labels: none

миграция файла signs.dm
  code/game/objects/structures/signs.dm
Labels: none

миграция таблички (DECALS DMI)
  icons/obj/decals.dmi
Labels: DMI

миграция MARKINGS.DM паллеты кароче
  code/game/objects/effects/decals/turfdecals/markings.dm
Labels: none

палета ДМИ декалсь
  icons/turf/decals.dmi
Labels: DMI

комит с дельтой
  _maps/map_files/Delta/delta.dmm
Labels: MAP

ден там говорил что баня переводится не как banya а как bathaus или как то так, по этму я сегодня с нихуя решил изменить путь файла и вообще щас всё ТОООЧНО ЗАЕБИСЬ
  _maps/map_files/Delta/delta.dmm
Labels: MAP

kall
  code/game/objects/structures/signs.dm
Labels: none

калуч
  icons/obj/decals.dmi
Labels: DMI

pam pam pam
  code/modules/projectiles/guns/medbeam.dm
Labels: none

Поиграл, поисправлял не красивые моменты и баги.
  code/datums/uplink_item.dm
  code/modules/antagonists/traitor/affiliates/items/cybersun/syndie_patcher.dm
  code/modules/antagonists/traitor/affiliates/items/hematogenic/blood_harvester.dm
  code/modules/antagonists/traitor/affiliates/items/hematogenic/stimulants_kit.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/agent_info.dm
  code/modules/antagonists/traitor/affiliates/items/tiger/borer_kit.dm
  code/modules/antagonists/traitor/affiliates/items/tiger/cling_hivemind_implant.dm
  code/modules/projectiles/ammunition/magazines.dm
Labels: none

Update code/modules/client/preference/preferences.dm
  code/modules/client/preference/preferences.dm
Labels: none

Update code/modules/mob/new_player/new_player.dm
  code/modules/mob/new_player/new_player.dm
Labels: none

catsmile
  code/modules/mob/living/silicon/silicon.dm
Labels: none

pochti...
  code/datums/spell.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/modules/projectiles/guns/medbeam.dm
Labels: none

А почему оно вообще поменялось?
  code/datums/spell.dm
Labels: none

bundle
  tgui/public/tgui.bundle.js
Labels: TGUI

fixes
  code/__DEFINES/blob.dm
  code/_onclick/hud/blob_overmind.dm
  code/game/gamemodes/blob/blob.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_smoke.dm
  code/modules/antagonists/blob/blob_minions/blob_mob.dm
  code/modules/antagonists/blob/blob_minions/blob_spore.dm
  code/modules/antagonists/blob/blob_minions/blob_zombie.dm
  code/modules/antagonists/blob/blob_minions/blobbernaut.dm
  code/modules/antagonists/blob/blobstrains/_reagent.dm
  code/modules/antagonists/blob/blobstrains/radioactive_gel.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
Labels: none

Update code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/equipment/tools/medical_tools.dm
Labels: none

again and again...
  code/modules/projectiles/guns/medbeam.dm
Labels: none

Update medical_tools.dm
  code/game/mecha/equipment/tools/medical_tools.dm
Labels: none

фиксы
  code/modules/antagonists/traitor/affiliates/items/cybersun/syndie_patcher.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/spy_kit.dm
  code/modules/antagonists/traitor/affiliates/items/tiger/borer_kit.dm
Labels: none

Update medical_tools.dm
  code/game/mecha/equipment/tools/medical_tools.dm
Labels: none

Update medical_tools.dm
  code/game/mecha/equipment/tools/medical_tools.dm
Labels: none

pupupu
  code/game/mecha/equipment/tools/medical_tools.dm
Labels: none

Донат лодаут
  code/modules/client/preference/loadout/loadout_donor.dm
Labels: none

Звуки
  sound/items/GSBussy.ogg
Labels: none

Спрайты
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/toy.dmi
Labels: DMI

its finally works!!1!1!!
  code/game/mecha/equipment/tools/medical_tools.dm
  code/modules/projectiles/guns/medbeam.dm
Labels: none

Немного разная генерация целек на кражу у некоторых подрядчиков.
  code/game/gamemodes/objective.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/traitor/affiliates/_affiliates.dm
  code/modules/antagonists/traitor/affiliates/cybersun.dm
  code/modules/antagonists/traitor/affiliates/hematogenic.dm
  code/modules/antagonists/traitor/affiliates/mi13.dm
Labels: none

Балансировка, замена скидок для подрядчика на изменение цены для подрядчика, чтоб не засорять скидки.
  code/datums/uplink_item.dm
  code/game/objects/items/devices/uplinks.dm
  code/modules/antagonists/traitor/affiliates/_affiliates.dm
  code/modules/antagonists/traitor/affiliates/contractor.dm
  code/modules/antagonists/traitor/affiliates/cybersun.dm
  code/modules/antagonists/traitor/affiliates/event.dm
  code/modules/antagonists/traitor/affiliates/gorlex.dm
  code/modules/antagonists/traitor/affiliates/mi13.dm
  code/modules/antagonists/traitor/affiliates/old.dm
  code/modules/antagonists/traitor/affiliates/tiger.dm
Labels: none

Switch для Дена и текст от Daeberdir
  code/game/gamemodes/game_mode.dm
Labels: none
