Repository Matthew-Mak/Paradise-SS1984-MM, changes with the labels that .github/labeler.yml gives for each.
All labels: MAP, DMI, TGUI

фикс
  code/modules/client/preference/loadout/loadout_general.dm
Labels: none

фикс
  code/modules/client/preference/loadout/loadout_general.dm
Labels: none

фикс
  code/modules/client/preference/loadout/loadout_general.dm
Labels: none

Update code/modules/client/preference/loadout/loadout_general.dm
  code/modules/client/preference/loadout/loadout_general.dm
Labels: none

QOL: translation DNA
  code/game/dna/dna2_domutcheck.dm
  code/game/dna/dna_modifier.dm
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/goon_disabilities.dm
  code/game/dna/genes/goon_powers.dm
  code/game/dna/genes/monkey.dm
  code/game/dna/genes/powers.dm
  code/game/dna/genes/vg_disabilities.dm
  code/game/dna/genes/vg_powers.dm
Labels: none

fix1
  code/game/dna/dna2_domutcheck.dm
  code/game/dna/genes/monkey.dm
Labels: none

fix2 + refact
  code/game/dna/dna_modifier.dm
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/goon_disabilities.dm
  code/game/dna/genes/goon_powers.dm
  code/game/dna/genes/monkey.dm
  code/game/dna/genes/powers.dm
  code/game/dna/genes/vg_disabilities.dm
  code/game/dna/genes/vg_powers.dm
Labels: none

fix4
  code/game/dna/dna_modifier.dm
Labels: none

fix3
  code/game/dna/dna_modifier.dm
Labels: none

fix7
  code/game/dna/genes/disabilities.dm
Labels: none

fix5
  code/game/dna/dna_modifier.dm
  code/game/dna/genes/disabilities.dm
Labels: none

fix8
  code/game/dna/dna_modifier.dm
Labels: none

fix6
  code/game/dna/genes/disabilities.dm
Labels: none

merge conflict fix2
  code/game/dna/genes/vg_powers.dm
Labels: none

fix9
  code/game/dna/genes/vg_powers.dm
Labels: none

fix10
  code/game/dna/genes/powers.dm
Labels: none

Added TGUI bundle generation and comments
  .github/workflows/testmerge.yml
Labels: none

Reverted tgui file changes
  tgui/bin/tgui
Labels: none

Reordered tgui bundle generation
  .github/workflows/testmerge.yml
Labels: none

Disabled comments, fixed tgui commit generation
  .github/workflows/testmerge.yml
Labels: none

Updated tgui bundle generation
  .github/workflows/testmerge.yml
Labels: none

fix
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: none

style fix
  code/modules/mob/living/silicon/robot/robot.dm
Labels: none

fix11
  code/game/dna/dna_modifier.dm
Labels: none

Моржконфликт
  icons/obj/weapons/projectile.dmi
Labels: DMI

remove if spaces
  code/__HELPERS/_logging.dm
  code/__HELPERS/chat.dm
  code/controllers/subsystem/fluids.dm
  code/datums/components/blob_minion.dm
  code/datums/components/connect_containers.dm
  code/datums/components/ghost_direct_control.dm
  code/datums/components/stationloving.dm
  code/game/atoms.dm
  code/game/objects/effects/effect_system/fluid_spread/_fluid_spread.dm
  code/game/objects/effects/effect_system/fluid_spread/effects_smoke.dm
  code/game/objects/obj_defense.dm
  code/modules/antagonists/blob/blob_infected_datum.dm
  code/modules/antagonists/blob/blob_minions/blob_spore.dm
  code/modules/antagonists/blob/blob_minions/blob_zombie.dm
  code/modules/antagonists/blob/blob_minions/blobbernaut.dm
  code/modules/antagonists/blob/blobstrains/_blobstrain.dm
  code/modules/antagonists/blob/blobstrains/debris_devourer.dm
  code/modules/antagonists/blob/blobstrains/multiplex.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/blob/powers.dm
  code/modules/antagonists/blob/structures/core.dm
  code/modules/antagonists/blob/structures/factory.dm
  code/modules/antagonists/blob/structures/normal.dm
  code/modules/mob/mob.dm
Labels: none

fix12
  code/game/dna/dna_modifier.dm
Labels: none

fix13
  code/game/dna/dna_modifier.dm
Labels: none

fix14
  code/game/dna/dna_modifier.dm
  code/game/dna/genes/disabilities.dm
Labels: none

Update code/game/dna/dna_modifier.dm
  code/game/dna/dna_modifier.dm
Labels: none

non binary fix
  code/game/dna/dna_modifier.dm
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/goon_disabilities.dm
  code/game/dna/genes/goon_powers.dm
Labels: none

temp
  code/game/objects/items/weapons/stock_parts.dm
  code/modules/economy/robotic_quests/robo_quest_console.dm
  icons/obj/telescience.dmi
  tgui/packages/tgui/interfaces/RoboQuest.js
Labels: DMI, TGUI

мусор убираем
  icons/obj/paintkit.dmi
Labels: DMI

да
  code/game/machinery/constructable_frame.dm
  code/game/mecha/mecha.dm
  code/game/mecha/paintkits.dm
  code/modules/economy/robotic_quests/robo_quest_console.dm
  code/modules/economy/robotic_quests/robo_quests.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/research/designs/equipment_designs.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/weapon_designs.dm
  icons/obj/paintkit.dmi
  tgui/packages/tgui/interfaces/RoboQuest.js
Labels: DMI, TGUI

да
  icons/obj/mecha/mecha.dmi
Labels: DMI

temp
  tgui/public/tgui.bundle.js
Labels: TGUI

новый АПДЕЙТ
  code/game/objects/items/devices/machineprototype.dm
  code/modules/asset_cache/assets/asset_roboquest.dm
  code/modules/economy/robotic_quests/robo_quests.dm
  icons/obj/machineprototype.dmi
Labels: DMI

Надеюсь так пойдет?
  code/__DEFINES/misc.dm
  code/game/mecha/combat/durand.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/honker.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/combat/phazon.dm
  code/game/mecha/combat/reticence.dm
  code/game/mecha/combat/sidewinder.dm
  code/game/mecha/makeshift/lockermech.dm
  code/game/mecha/mecha.dm
  code/game/mecha/medical/odysseus.dm
  code/game/mecha/paintkits.dm
  code/game/mecha/working/clarke.dm
  code/game/mecha/working/ripley.dm
Labels: none

>roden is talking
  code/modules/economy/robotic_quests/robo_quest_console.dm
  code/modules/economy/robotic_quests/robo_quests.dm
Labels: none

финале
  code/game/objects/items/weapons/stock_parts.dm
  code/modules/economy/robotic_quests/robo_quest_console.dm
  code/modules/economy/robotic_quests/robo_quests.dm
  tgui/packages/tgui/interfaces/RoboQuest.js
Labels: TGUI

.github/labeler.yml:

MAP:
  - "**/*.dmm"

DMI:
  - "**/*.dmi"
  - "**/*.png"

TGUI:
  - "**/*.js"
