Repository Matthew-Mak/Paradise-SS1984-MM, changes with the labels that .github/labeler.yml gives for each.
All labels: python, javascript, DMI, MAP, TGUI

упс
  code/game/mecha/paintkits.dm
Labels: none

Async and cleaning.
  code/game/mecha/paintkits.dm
  code/modules/economy/robotic_quests/robo_quests.dm
Labels: none

slightly better
  code/game/machinery/computer/syndie_cargo.dm
  code/game/machinery/quantum_pad.dm
  code/game/machinery/syndiepad.dm
  code/game/mecha/mecha.dm
  code/game/mecha/paintkits.dm
  code/modules/economy/robotic_quests/robo_quest_console.dm
  code/modules/economy/robotic_quests/robo_quests.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/telesci/telepad.dm
  code/modules/telesci/telesci_computer.dm
  icons/obj/telescience.dmi
Labels: DMI

Updated tgui bundle
  tgui/public/tgui.bundle.js
Labels: javascript, TGUI

Tgui rebuild
  tgui/public/tgui.bundle.js
Labels: javascript, TGUI

NanoMap Auto-Update (Tue Nov 5 01:23:15 UTC 2024)
  icons/_nanomaps/Nova_nanomap_z1.png
  icons/_nanomaps/Nova_nanomap_z2.png
Labels: none

убрал кринж(микропикроизменение
  _maps/map_files/Delta/delta.dmm
Labels: MAP

fix15
  code/game/dna/dna_modifier.dm
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/goon_disabilities.dm
Labels: none

Update code/game/dna/genes/goon_powers.dm
  code/game/dna/genes/goon_powers.dm
Labels: none

Update code/game/dna/genes/goon_powers.dm
  code/game/dna/genes/goon_powers.dm
Labels: none

Update code/game/dna/genes/goon_powers.dm
  code/game/dna/genes/goon_powers.dm
Labels: none

Update code/game/dna/genes/goon_powers.dm
  code/game/dna/genes/goon_powers.dm
Labels: none

Update code/game/dna/genes/goon_powers.dm
  code/game/dna/genes/goon_powers.dm
Labels: none

Update code/game/dna/genes/goon_powers.dm
  code/game/dna/genes/goon_powers.dm
Labels: none

Update code/game/dna/genes/vg_powers.dm
  code/game/dna/genes/vg_powers.dm
Labels: none

Update code/game/dna/genes/vg_powers.dm
  code/game/dna/genes/vg_powers.dm
Labels: none

final fix
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/goon_disabilities.dm
  code/game/dna/genes/goon_powers.dm
  code/game/dna/genes/vg_powers.dm
Labels: none

Медбот
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: none

Рембот
  code/modules/mob/living/simple_animal/bot/floorbot.dm
Labels: none

Секбот
  code/modules/mob/living/simple_animal/bot/secbot.dm
  tgui/packages/tgui/interfaces/BotSecurity.js
Labels: javascript, TGUI

Протобот
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: none

Фикс
  tgui/public/tgui.bundle.js
Labels: javascript, TGUI

Renamed design
  code/modules/research/designs/mining_designs.dm
Labels: none

Fixes
  code/__DEFINES/dcs/signals.dm
  code/_onclick/click.dm
  code/game/machinery/computer/camera.dm
Labels: none

Фикс
  code/game/objects/items/toys.dm
Labels: none

писяпопа
  _maps/map_files/cyberiad/cyberiad.dmm
Labels: MAP

Что-то типо перевел? наверное
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: none

Да
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: none

Да 2
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: none

скрытная починка
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: none

очень скрытная кастрация балунов
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: none

самое скрытное изменение в истории SS13
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: none

Apply suggestions from code review
  code/game/objects/items/weapons/storage/toolbox.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/tools.dm
Labels: none

les go final
  code/datums/components/ritual_object.dm
  code/datums/elements/devil_banishment.dm
  code/datums/elements/devil_regen.dm
  code/datums/mind.dm
  code/datums/rituals.dm
  code/datums/spell_handler/devil_spell_handler.dm
  code/datums/spells/devil.dm
  code/game/gamemodes/devil/objectives.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/items/weapons/twohanded.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/antagonists/devil/devil_outfit.dm
  code/modules/antagonists/devil/devil_rank.dm
  code/modules/antagonists/devil/devil_ritual.dm
  code/modules/antagonists/devil/helper_procs.dm
  code/modules/antagonists/devil/imp/imp.dm
  code/modules/antagonists/devil/sintouched.dm
  code/modules/paperwork/contract.dm
  paradise.dme
Labels: none

fix
  code/modules/antagonists/devil/devil.dm
Labels: none

fix inconsistent
  code/modules/antagonists/devil/devil_ritual.dm
Labels: none

fix
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/antagonists/devil/devil_outfit.dm
  code/modules/antagonists/devil/devil_ritual.dm
Labels: none

i love inconsistent
  code/modules/antagonists/devil/devil_ritual.dm
Labels: none

finallyyyyyyyy
  code/datums/spells/devil.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/modules/antagonists/devil/devil.dm
Labels: none

тепеь финал
  code/modules/antagonists/devil/devil.dm
Labels: none

.github/labeler.yml:

# When the .py is changed
python:
  - './*.py'
  - '**/*.py'

# Javascript changes
javascript:
  - '**/*.js'

# Any .dmi changes
DMI:
  - '**/*.dmi'

# Changes to a .dmm
MAP:
  - '**/*.dmm'

# Encompasses both the tgui and the tgui-next folder
TGUI:
  - 'tgui/**'
  - 'tgui-next/**'
