Repository Matthew-Mak/Paradise-SS1984-MM, changes with the labels that .github/labeler.yml gives for each.
All labels: python, javascript, DMI, MAP, TGUI

.github/labeler.yml:

# When the .py is changed
python:
  - './*.py'
  - '**/*.py'

# Javascript changes
javascript:
  - '**/*.js'

# Any .dmi changes
DMI:
  - '**/*.dmi'

# Changes to a .dmm
MAP:
  - '**/*.dmm'

# Encompasses both the tgui and the tgui-next folder
TGUI:
  - 'tgui/**'
  - 'tgui-next/**'

Den review
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/lungs.dm
Labels: none

6
  code/__DEFINES/supermatter.dm
Labels: none

Правка зоны саттелита
  _maps/map_files/nova/nova.dmm
Labels: MAP

тзишуйприводиткимпотенции
  code/modules/events/spacevine.dm
  code/modules/hydroponics/grown/kudzu.dm
Labels: none

щепочкаподcockтролем
  code/modules/hydroponics/grown/kudzu.dm
Labels: none

Благодарственные Таблички
  _maps/map_files/nova/nova.dmm
Labels: MAP

Фиксы
  code/game/machinery/Sleeper.dm
Labels: none

`/obj/item` full Initialize().
  code/game/objects/items.dm
Labels: none

see
  code/__HELPERS/see_through_maps.dm
Labels: none

add: Ashwalkers survival update (#5893) [testmerge][5ee3919]
  _maps/map_files/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  code/datums/mapgen/LavalandGenerator.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/tent.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/watercloset.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/crafting/recipes.dm
  code/modules/food_and_drinks/food/foods/meat.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/mining/lavaland/ash_flora.dm
  code/modules/mob/living/simple_animal/hostile/mining/goliath.dm
  code/modules/projectiles/guns/projectile/bow.dm
  code/modules/projectiles/guns/throw/crossbow.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/tools.dm
  icons/mob/clothing/back.dmi
  icons/mob/inhands/guns_lefthand.dmi
  icons/mob/inhands/guns_righthand.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/device.dmi
  icons/obj/food/food.dmi
  icons/obj/hydroponics/equipment.dmi
  icons/obj/hydroponics/growing.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/obj/items.dmi
  icons/obj/lavaland/ash_flora.dmi
  icons/obj/surgery.dmi
  icons/obj/tent.dmi
  icons/obj/weapons/ammo.dmi
  icons/obj/weapons/projectile.dmi
  paradise.dme
  sound/weapons/kolotushka_smash.ogg
Labels: DMI, MAP

add: request console cart in pda[bounty] (#5990) [testmerge][cf9dadc]
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/event/Station/delta_old.dmm
  _maps/map_files/event/Station/towerstation.dmm
  _maps/map_files/nova/nova.dmm
  code/__DEFINES/machines.dm
  code/__DEFINES/request_consoles.dm
  code/datums/outfits/outfit_security_clown.dm
  code/game/machinery/requests_console.dm
  code/modules/mining/machine_redemption.dm
  code/modules/pda/PDA.dm
  code/modules/pda/app.dm
  code/modules/pda/cart.dm
  code/modules/pda/pda_tgui.dm
  code/modules/pda/pdas.dm
  code/modules/pda/request_consoles_app.dm
  code/modules/pda/request_consoles_cart.dm
  code/modules/research/message_server.dm
  icons/obj/pda.dmi
  paradise.dme
  tgui/packages/tgui/interfaces/PDA.js
  tgui/packages/tgui/interfaces/RequestConsole.js
  tgui/packages/tgui/interfaces/pda/pda_request_console.js
  tgui/public/tgui.bundle.js
Labels: javascript, DMI, MAP, TGUI

experimental: New() -> Initialize() organs migration. (#6137) [testmerge][5c9962f]
  code/game/objects/items.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/subtypes/machine.dm
  code/modules/surgery/organs/subtypes/standard.dm
Labels: none

Automatic changelog generation
  html/changelogs/archive/2024-11.yml
Labels: none

кек
  code/__DEFINES/turfs.dm
Labels: none

flo
  code/game/objects/structures/flora.dm
Labels: none

кал калычь
  code/__DEFINES/layers.dm
Labels: none

see
  code/__DEFINES/turfs.dm
Labels: none

The commit of '87
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: none

КОНЕЦ ГОТОВО ЗАЕБИСЬ
  paradise.dme
Labels: none

да 3
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: none

codestyle доработочка
  code/__DEFINES/layers.dm
  code/__DEFINES/turfs.dm
  code/__HELPERS/see_through_maps.dm
  code/datums/components/seetouch.dm
  code/game/objects/structures/flora.dm
Labels: none
