Repository Matthew-Mak/Paradise-SS1984-MM, changes with the labels that .github/labeler.yml gives for each.
All labels: python, javascript, DMI, MAP, TGUI

готово
  _maps/map_files/Delta/delta.dmm
  code/game/objects/structures/signs.dm
Labels: MAP

craft+bugfix
  code/game/mecha/equipment/tools/medical_tools.dm
  code/modules/economy/robotic_quests/mech_types.dm
  code/modules/research/designs/mechfabricator_designs.dm
Labels: none

1
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: none

end?
  code/game/mecha/equipment/tools/medical_tools.dm
Labels: none

Игрушка
  code/game/objects/items/toys.dm
Labels: none

Update code/modules/projectiles/guns/medbeam.dm
  code/modules/projectiles/guns/medbeam.dm
Labels: none

code plus
  code/modules/projectiles/guns/medbeam.dm
Labels: none

Фикс
  code/game/objects/items/toys.dm
Labels: none

ZazaTranslate
  code/game/mecha/equipment/tools/medical_tools.dm
  code/modules/projectiles/guns/medbeam.dm
Labels: none

Update medical_tools.dm
  code/game/mecha/equipment/tools/medical_tools.dm
Labels: none

Update medbeam.dm
  code/modules/projectiles/guns/medbeam.dm
Labels: none

1
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: none

added test file
  testfile.txt
Labels: none

specially for antonij
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: none

Мини рескин инжекторов HI
  code/modules/antagonists/traitor/affiliates/items/hematogenic/stimulants_kit.dm
  icons/obj/affiliates.dmi
Labels: DMI

Сообщения выводятся в чат всем, не только юзеру
  code/game/objects/items/toys.dm
Labels: none

не, ну щас реально готово
  _maps/map_files/Delta/delta.dmm
Labels: MAP

не, ну это 100 проц всё
  _maps/map_files/Delta/delta.dmm
Labels: MAP

НЕТ НЕТ, ПРЕДЫДУЩИЙ КОМИТ БЫЛ КАК БЫ ПОСЛЕДНИМ, НО ЭТО ЧИСЛО ВИЗУАЛЬНО УКРАСИТЬ НЕКОТОРЫЕ ШТУЧКИ, НУ СТЕКЛЯННЫЙ ПОЛ, ЕЩЁ ГРАФИТИ НА СТЕНУ, И ИИИ ВОТ.
  _maps/map_files/Delta/delta.dmm
Labels: MAP

Фикс 2
  code/game/objects/items/toys.dm
Labels: none

Done.
  code/modules/mob/living/carbon/human/human_interaction.dm
Labels: none

Багфикс собсна
  code/game/objects/items/toys.dm
Labels: none

minus 'else'
  code/modules/mob/living/carbon/human/human_interaction.dm
Labels: none

Update code/game/gamemodes/objective.dm
  code/game/gamemodes/objective.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/mi13/sound_ring.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/sound_ring.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/mi13/sound_ring.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/sound_ring.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/self/laws_implant.dm
  code/modules/antagonists/traitor/affiliates/items/self/laws_implant.dm
Labels: none

правки
  code/__DEFINES/mobs.dm
  code/datums/components/spy_bug.dm
  code/datums/spells/bloodcrawl.dm
  code/game/gamemodes/miniantags/demons/shadow_demon/shadow_demon.dm
  code/game/gamemodes/miniantags/revenant/revenant.dm
  code/game/objects/items/devices/uplinks.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/sound_ring.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/spy_kit.dm
  code/modules/mob/holder_pet_carrier.dm
  paradise.dme
Labels: none

Немного кодстайла чтоб проверки перезапустились. Щас сломались на одной карте из-за генерации лавы.
  code/modules/clothing/gloves/rings.dm
Labels: none

фонд помощи кодерам сказал сделать так
  code/modules/antagonists/traitor/affiliates/items/mi13/sound_ring.dm
Labels: none

Багфикс неправильно чинящасего кабеля сатчели. Отдельный ПР делать лень. Исправление в один символ.
  code/game/objects/items/weapons/grenades/ghettobomb.dm
Labels: none

grey rework
  code/__DEFINES/organ_defines.dm
  code/__DEFINES/traits/declarations.dm
  code/datums/action.dm
  code/game/machinery/machinery.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/structures/watercloset.dm
  code/modules/antagonists/traitor/contractor/datums/syndicate_contract.dm
  code/modules/client/preference/loadout/loadout_racial.dm
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/brain/brain_item.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_say.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/surgery/organs/augments_eyes.dm
  code/modules/surgery/organs/augments_internal.dm
  code/modules/surgery/organs/autoimplanter.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/surgery/organs/heart.dm
  code/modules/surgery/organs/lungs.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/subtypes/grey.dm
  code/modules/surgery/organs/subtypes/wryn.dm
  code/modules/surgery/organs/voice_translator.dm
  code/modules/surgery/organs_internal.dm
  icons/mob/actions/actions.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/voice_translator.dmi
  paradise.dme
Labels: DMI

Починка лент и выплевывателей
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/nova/nova.dmm
Labels: MAP

нукли горлексам
  code/modules/antagonists/traitor/affiliates/gorlex.dm
Labels: none

balloonalert medbeam
  code/modules/projectiles/guns/medbeam.dm
Labels: none

1
  code/datums/spells/alien_spells/evolve.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/ventcrawling.dm
Labels: none

Update construct_spells.dm
  code/datums/spells/construct_spells.dm
Labels: none

Update code/datums/spells/alien_spells/evolve.dm
  code/datums/spells/alien_spells/evolve.dm
Labels: none

small evolve refactor
  code/datums/spells/alien_spells/evolve.dm
  code/datums/spells/alien_spells/larva_evolve.dm
  code/modules/mob/living/carbon/alien/larva/larva.dm
  paradise.dme
Labels: none

can_cast
  code/datums/spells/alien_spells/evolve.dm
Labels: none

.github/labeler.yml:

# When the .py is changed
python:
  - './*.py'
  - '**/*.py'

# Javascript changes
javascript:
  - '**/*.js'

# Any .dmi changes
DMI:
  - '**/*.dmi'

# Changes to a .dmm
MAP:
  - '**/*.dmm'

# Encompasses both the tgui and the tgui-next folder
TGUI:
  - 'tgui/**'
  - 'tgui-next/**'
