Repository Matthew-Mak/Paradise-SS1984-MM, changes with the labels that .github/labeler.yml gives for each.
All labels: python, javascript, DMI, MAP, TGUI

.github/labeler.yml:

# When the .py is changed
python:
  - './*.py'
  - '**/*.py'

# Javascript changes
javascript:
  - '**/*.js'

# Any .dmi changes
DMI:
  - '**/*.dmi'

# Changes to a .dmm
MAP:
  - '**/*.dmm'

# Encompasses both the tgui and the tgui-next folder
TGUI:
  - 'tgui/**'
  - 'tgui-next/**'

potential runtime bugfix.(at least I haven't got while compiling)
  code/__HELPERS/unsorted.dm
  code/datums/weather/weather.dm
  code/datums/weather/weather_types/ash_storm.dm
Labels: none

Oops, forgot this useless code to remove
  code/__DEFINES/mapping.dm
  code/modules/shuttle/transit.dm
  paradise.dme
Labels: none

small mistake fix
  code/controllers/subsystem/area_contents.dm
Labels: none

Update code/game/turfs/space/transit.dm
  code/game/turfs/space/transit.dm
Labels: none

fix runtime world border icon smoothing
  code/__HELPERS/icon_smoothing.dm
Labels: none

supply fix
  code/modules/shuttle/supply.dm
Labels: none

pod lights, brig shuttle fix, space/transit singaled
  _maps/map_files/generic/CentComm.dmm
  code/game/turfs/space/transit.dm
Labels: MAP

alone_shuttle fix
  code/modules/shuttle/shuttle.dm
Labels: none

runtimes, emergency transit fix, gamma fix, shuttles direction fix
  _maps/map_files/generic/CentComm.dmm
  code/controllers/subsystem/shuttles.dm
  code/modules/paperwork/photography/camera_image_capturing.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/gamma.dm
  code/modules/shuttle/shuttle.dm
Labels: MAP

oops, alone shuttle runtime fix
  code/controllers/subsystem/shuttles.dm
  code/modules/shuttle/shuttle.dm
Labels: none

reverts click_catcher "fix" for clicking at space tiles
  code/_onclick/click.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/hematogenic/blood_harvester.dm
  code/modules/antagonists/traitor/affiliates/items/hematogenic/blood_harvester.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/mi13/sound_ring.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/sound_ring.dm
Labels: none

правки
  code/modules/antagonists/traitor/affiliates/_affiliates.dm
  code/modules/antagonists/traitor/affiliates/items/hematogenic/hemophagus_extract.dm
  code/modules/antagonists/traitor/affiliates/items/tiger/cling_extract.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/mi13/sound_ring.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/sound_ring.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/hematogenic/blood_harvester.dm
  code/modules/antagonists/traitor/affiliates/items/hematogenic/blood_harvester.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/mi13/spy_kit.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/spy_kit.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/mi13/agent_info.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/agent_info.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/mi13/agent_info.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/agent_info.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/self/self_emag.dm
  code/modules/antagonists/traitor/affiliates/items/self/self_emag.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/tiger/borer_kit.dm
  code/modules/antagonists/traitor/affiliates/items/tiger/borer_kit.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/tiger/borer_kit.dm
  code/modules/antagonists/traitor/affiliates/items/tiger/borer_kit.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/tiger/borer_kit.dm
  code/modules/antagonists/traitor/affiliates/items/tiger/borer_kit.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/tiger/borer_kit.dm
  code/modules/antagonists/traitor/affiliates/items/tiger/borer_kit.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/cybersun/invasive_beacon.dm
  code/modules/antagonists/traitor/affiliates/items/cybersun/invasive_beacon.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/hematogenic/blood_harvester.dm
  code/modules/antagonists/traitor/affiliates/items/hematogenic/blood_harvester.dm
Labels: none

правки
  code/datums/uplink_item.dm
  code/game/gamemodes/objective.dm
Labels: none

правки
  code/modules/antagonists/traitor/affiliates/items/tiger/borer_kit.dm
Labels: none

Update security.dm
  code/game/jobs/job/security.dm
Labels: none

Update lobby_phrases.txt
  strings/lobby_phrases.txt
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/mi13/spy_kit.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/spy_kit.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/mi13/spy_kit.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/spy_kit.dm
Labels: none

делаю лучше
  code/datums/uplink_item.dm
  code/modules/antagonists/traitor/affiliates/_affiliates.dm
  code/modules/antagonists/traitor/affiliates/items/cybersun/invasive_beacon.dm
  code/modules/antagonists/traitor/affiliates/items/cybersun/marionette.dm
  code/modules/antagonists/traitor/affiliates/items/cybersun/mini_traitor.dm
  code/modules/antagonists/traitor/affiliates/items/cybersun/proprietary_ssd.dm
  code/modules/antagonists/traitor/affiliates/items/hematogenic/hemophagus_extract.dm
  code/modules/research/rdconsole.dm
Labels: none

NanoMap Auto-Update (Tue Oct 29 00:59:57 UTC 2024)
  icons/_nanomaps/Nova_nanomap_z1.png
  icons/_nanomaps/Nova_nanomap_z2.png
Labels: none

Спрайты 2
  icons/mob/clothing/back.dmi
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
Labels: DMI

Obj спрайт
  icons/obj/items.dmi
Labels: DMI

Update code/datums/mind.dm
  code/datums/mind.dm
Labels: none

чиселки
  code/modules/antagonists/traitor/affiliates/items/mi13/spy_kit.dm
Labels: none

some adjustments
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: none

ВЕЛИКАЯ миграция в Initialize
  code/modules/mob/living/silicon/silicon.dm
Labels: none
