Repository Matthew-Mak/Paradise-SS1984-MM, changes with the labels that .github/labeler.yml gives for each.
All labels: MAP, DMI, TGUI

.github/labeler.yml:

MAP:
  - "**/*.dmm"

DMI:
  - "**/*.dmi"
  - "**/*.png"

TGUI:
  - "**/*.js"

Flashligt(Не забыть починить оверлей)
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  icons/obj/weapons/energy.dmi
  icons/obj/weapons/projectile.dmi
  paradise.dme
Labels: DMI

new blob storm effect + clusterbang nerf
  code/datums/weather/weather_types/blob_storm.dm
  code/game/objects/items/weapons/grenades/clusterbuster.dm
  code/modules/antagonists/blob/blob_minions/blob_mob.dm
  code/modules/antagonists/blob/structures/_blob.dm
  icons/effects/weather_effects.dmi
Labels: DMI

Update code/game/machinery/customat.dm
  code/game/machinery/customat.dm
Labels: none

Вернул запрошенный мусор в код
  code/game/atoms.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/mob/living/carbon/human/human_emote.dm
Labels: none

Фикс описания
  code/modules/clothing/under/accessories/accessory.dm
Labels: none

Update code/game/machinery/customat.dm
  code/game/machinery/customat.dm
Labels: none

zgfdgdsdfa
  code/game/machinery/customat.dm
Labels: none

Починка оверлея
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
Labels: none

Update code/game/machinery/customat.dm
  code/game/machinery/customat.dm
Labels: none

fix
  code/game/machinery/vending.dm
Labels: none

Кокомит (если в бане пустой пол, значит прийдётся добавлять декаль новым комитом)
  _maps/map_files/Delta/delta.dmm
Labels: MAP

калл говна(проебался немного по эому пришлось сделать микро изменения)
  _maps/map_files/Delta/delta.dmm
Labels: MAP

precolored footwraps del
  code/modules/client/preference/loadout/loadout_shoes.dm
  code/modules/clothing/shoes/miscellaneous.dm
  icons/obj/clothing/shoes.dmi
Labels: DMI

Fix: ATM on Multi-z maps
  code/modules/economy/ATM.dm
Labels: none

Runtime fix
  code/modules/economy/ATM.dm
Labels: none

doQOL
  code/datums/elements/reagent_attack.dm
Labels: none

Update code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: none

dsfasfd
  code/modules/client/client_defines.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: none

Update code/modules/antagonists/vampire/vampire_datum.dm
  code/modules/antagonists/vampire/vampire_datum.dm
Labels: none

Update code/modules/antagonists/vampire/vampire_subclasses.dm
  code/modules/antagonists/vampire/vampire_subclasses.dm
Labels: none

dxgshgf
  code/modules/antagonists/vampire/vampire_subclasses.dm
Labels: none

Запрошенный фикс
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/clothing/glasses/hud.dm
Labels: none

if ( -> if(
  code/controllers/subsystem/jobs.dm
  code/game/machinery/adv_med.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/economy/ATM.dm
  code/modules/economy/insurance.dm
Labels: none

Обновление карты
  _maps/map_files/nova/nova.dmm
Labels: MAP

Фикс ревью
  code/modules/awaymissions/mission_code/UO71-terrorspiders.dm
  code/modules/awaymissions/mission_code/stationCollision.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/mounted.dm
Labels: none

Дополнение карты
  _maps/map_files/nova/nova.dmm
Labels: MAP

bugfix: Hardmode grenades do not work on enemies with less than 80% HP
  code/modules/mob/living/simple_animal/hostile/megafauna/ancient_robot.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
Labels: none

Made initial enrage() return true if enraged successfully
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
Labels: none

Фикс ревью
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
Labels: none

Update code/modules/clothing/glasses/hud.dm
  code/modules/clothing/glasses/hud.dm
Labels: none

Update code/__DEFINES/preferences.dm
  code/__DEFINES/preferences.dm
Labels: none

Brigadier's tweaks.
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

Addictional tweak.
  _maps/map_files/generic/CentComm.dmm
Labels: MAP

bugfix: Fireproof stuff can now burn in lava
  code/game/turfs/simulated/floor/lava.dm
Labels: none

bugfix: Fixes ash storm damaging in some lavaland ruins
  code/game/area/areas/ruins/lavaland.dm
Labels: none

bugfix: Fixed bluespace scanner spelling mistake
  code/modules/station_goals/brs/brs_stationary_scanner.dm
Labels: none

fdasf
  code/__DEFINES/preferences.dm
  code/modules/client/preference/preferences_toggles.dm
Labels: none

bugfix: Fixed toner insertion into photocopier
  code/modules/paperwork/photocopier.dm
Labels: none

bugfix: Fixed intercom disassembling
  code/game/objects/items/devices/radio/intercom.dm
Labels: none

bugfix: Fixed paper bin filling
  code/modules/paperwork/paperbin.dm
Labels: none
