Repository Matthew-Mak/Paradise-SS1984-MM, changes with the labels that .github/labeler.yml gives for each.
All labels: python, javascript, DMI, MAP, TGUI

.github/labeler.yml:

# When the .py is changed
python:
  - './*.py'
  - '**/*.py'

# Javascript changes
javascript:
  - '**/*.js'

# Any .dmi changes
DMI:
  - '**/*.dmi'

# Changes to a .dmm
MAP:
  - '**/*.dmm'

# Encompasses both the tgui and the tgui-next folder
TGUI:
  - 'tgui/**'
  - 'tgui-next/**'

Revert "Перевод лута с тендрилов Лаваленда (#6132)"
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: none

forgotten moments and ama ready
  code/modules/antagonists/devil/devil.dm
  code/modules/antagonists/devil/devil_rank.dm
Labels: none

clean unused
  code/__DEFINES/devil.dm
  code/modules/antagonists/devil/devil.dm
Labels: none

Перевод бота ED209
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
Labels: none

Фикс
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: none

Фикс
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: none

Перевод клинбота (включая TGUI)
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  tgui/packages/tgui/interfaces/BotClean.js
  tgui/public/tgui.bundle.js
Labels: javascript, TGUI

Фикс
  tgui/packages/tgui/interfaces/BotClean.js
Labels: javascript, TGUI

Перевод хонкбота
  code/modules/mob/living/simple_animal/bot/honkbot.dm
Labels: none

backpack update
  code/datums/action.dm
  code/game/objects/items/weapons/storage/backpack.dm
  icons/mob/clothing/back.dmi
  icons/mob/clothing/species/grey/back.dmi
  icons/mob/clothing/species/vox/back.dmi
  icons/obj/storage.dmi
Labels: DMI

littleupdate
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/client/preference/loadout/loadout_donor.dm
Labels: none

Update loadout_donor.dm
  code/modules/client/preference/loadout/loadout_donor.dm
Labels: none

Update loadout_donor.dm
  code/modules/client/preference/loadout/loadout_donor.dm
Labels: none

backpack update
  code/game/objects/items/weapons/storage/backpack.dm
  icons/obj/storage.dmi
Labels: DMI

mergeconflict
  code/modules/client/preference/loadout/loadout_donor.dm
Labels: none

xeno cant evolve to queen
  code/datums/spells/alien_spells/evolve.dm
Labels: none

perevod
  code/game/objects/items/weapons/storage/backpack.dm
Labels: none

someDOqoL
  code/__DEFINES/dcs/signals.dm
  code/_onclick/other_mobs.dm
Labels: none

Все на этот раз точно
  icons/obj/weapons/projectile.dmi
Labels: DMI

Частичный перевод
  code/modules/mob/living/simple_animal/bot/construction.dm
Labels: none

test
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs/organ.dm
  code/modules/surgery/organs/organ_external.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/surgery/organs/subtypes/machine.dm
  code/modules/surgery/organs/subtypes/standard.dm
Labels: none

ahem
  code/modules/surgery/limb_reattach.dm
Labels: none

so god
  code/datums/rituals.dm
Labels: none

bugfix: Fixed headphones not unable to play songs
  code/modules/instruments/objs/items/headphones.dm
  code/modules/instruments/songs/_song_ui.dm
Labels: none

dowork
  code/game/objects/effects/decals/Cleanable/misc.dm
Labels: none

Add files via upload
  icons/effects/ashwalker_rune.dmi
Labels: DMI

fix again
  code/datums/rituals.dm
Labels: none

fix null runtimes
  code/modules/pda/PDA.dm
  code/modules/pda/request_consoles_app.dm
Labels: none

fix
  code/modules/pda/request_consoles_app.dm
Labels: none

bugfix: Wooden wall creation fix
  code/game/machinery/deployable.dm
Labels: none

bugfix: Syndicate turrets are now dense
  code/game/machinery/portable_turret.dm
Labels: none

1
  code/game/objects/items/weapons/twohanded.dm
Labels: none

Частичный перевод
  code/modules/mob/living/simple_animal/bot/construction.dm
Labels: none

Slightly optimized.
  code/game/objects/items/weapons/twohanded.dm
Labels: none

And codestyle.
  code/game/objects/items/weapons/twohanded.dm
Labels: none

Correct sound loc.
  code/game/objects/items/weapons/twohanded.dm
Labels: none

Перевод файла - создание ботов
  code/modules/mob/living/simple_animal/bot/construction.dm
Labels: none

Фиксы
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: none

Фикс
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: none

Фикс
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
Labels: none
