Repository Matthew-Mak/Paradise-SS1984-MM, changes with the labels that .github/labeler.yml gives for each.
All labels: MAP, DMI, TGUI

bugfix: Fixed windowed door rendering
  code/game/machinery/doors/windowdoor.dm
Labels: none

bugfix: Fixed survival pod's computer being pushable by humanoids
  code/modules/mining/equipment/survival_pod.dm
Labels: none

fsdfssa
  code/modules/mob/living/death.dm
Labels: none

sdfdsfds
  code/modules/client/preference/preferences_toggles.dm
Labels: none

dfsdf
  code/modules/client/preference/preferences_toggles.dm
Labels: none

bugfix: Sulphuric acid now respects armor protection
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: none

removed unused code
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: none

tweaks
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: none

span macroses added
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: none

code tweaks
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: none

var renamed
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: none

damage applying tweaks
  code/modules/reagents/chemistry/reagents/toxins.dm
Labels: none

bugfix: Cult fixes
  code/modules/mob/living/simple_animal/constructs.dm
Labels: none

fixes
  code/modules/mob/living/simple_animal/constructs.dm
Labels: none

no more precolored clothwraps
  icons/mob/clothing/species/unathi/shoes.dmi
Labels: DMI

Fixed ascension
  code/game/gamemodes/cult/cult.dm
Labels: none

MORE REMOVAL
  icons/mob/clothing/feet.dmi
Labels: DMI

dfgdsfgfd
  code/datums/mind.dm
  code/datums/uplink_item.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: none

Update watchers_look.dm
  code/datums/spells/lavaland_spells/watchers_look.dm
Labels: none

dsads
  tgui/public/tgui.bundle.js
Labels: TGUI

zxcvzxcvzxczvcxz
  tgui/public/tgui.bundle.js
  tgui/yarn.lock
Labels: TGUI

Обновленеи карты
  _maps/map_files/nova/nova.dmm
Labels: MAP

bugfix: Fixed drill's infinite range
  code/game/mecha/equipment/tools/mining_tools.dm
Labels: none

bugfix: Now it's possible to roll a malfunctioning AI in Antag Paradise mode
  code/game/gamemodes/antag_paradise/antag_paradise.dm
Labels: none

some fixos
  code/modules/admin/topic.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/new_player/preferences_setup.dm
Labels: none

isfinal
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/silicon/pai/pai.dm
Labels: none

fix
  code/game/turfs/simulated.dm
Labels: none

fix
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
Labels: none

fix3
  code/modules/mob/living/carbon/life.dm
Labels: none

ывапав
  code/__DEFINES/atmospherics.dm
  code/__HELPERS/atmospherics.dm
  code/game/objects/items/devices/scanners/gas_analyzer.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/atmospherics/gasmixtures/gas.dm
  code/modules/atmospherics/gasmixtures/gaslist.dm
  code/modules/atmospherics/machinery/components/trinary_devices/filter.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/mob.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol.dm
  code/modules/reagents/chemistry/reagents/blob.dm
  code/modules/reagents/chemistry/reagents/drugs.dm
  code/modules/reagents/chemistry/reagents/food.dm
  code/modules/reagents/chemistry/reagents/medicine.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic.dm
  code/modules/reagents/chemistry/reagents/toxins.dm
  code/modules/reagents/chemistry/reagents/water.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  paradise.dme
Labels: none

fix
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
Labels: none

fix2
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
Labels: none

fixsada
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
Labels: none

fix
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/gasmixtures/gaslist.dm
Labels: none

temp 5 to 10
  code/datums/status_effects/buffs.dm
Labels: none

забыл путь поменять
  code/modules/antagonists/traitor/affiliates/items/cybersun/marionette.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/hematogenic/blood_harvester.dm
  code/modules/antagonists/traitor/affiliates/items/hematogenic/blood_harvester.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/mi13/intel_data.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/intel_data.dm
Labels: none

Update code/modules/antagonists/traitor/affiliates/items/mi13/intel_data.dm
  code/modules/antagonists/traitor/affiliates/items/mi13/intel_data.dm
Labels: none

Fix ash_storm.dm runtime & shuttle icon non-smoothed view fix
  code/controllers/subsystem/area_contents.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/game/area/areas.dm
  code/game/turfs/simulated/shuttle.dm
  code/modules/space_management/zlevel_manager.dm
Labels: none

.github/labeler.yml:

MAP:
  - "**/*.dmm"

DMI:
  - "**/*.dmi"
  - "**/*.png"

TGUI:
  - "**/*.js"
