Repository Matthew-Mak/Paradise-SS1984-MM, changes with the labels that .github/labeler.yml gives for each.
All labels: python, javascript, DMI, MAP, TGUI

move comment
  code/game/gamemodes/clockwork/clockwork_structures.dm
Labels: none

Доступы тык-тык
  code/game/jobs/job/security.dm
Labels: none

Дополнение
  _maps/map_files/nova/nova.dmm
Labels: MAP

Доступы
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/support.dm
Labels: none

Удаление прока на доступ ассистухам
  code/controllers/configuration/entries/config.dm
  code/game/jobs/job/civilian.dm
  config/example/config.txt
Labels: none

Тык
  code/game/jobs/job/supervisor.dm
Labels: none

ъ
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: none

ъ2
  code/modules/mining/lavaland/loot/tendril_loot.dm
Labels: none

Update backpack.dm
  code/game/objects/items/weapons/storage/backpack.dm
Labels: none

lil
  code/datums/components/seetouch.dm
Labels: none

looping sound
  code/datums/looping_sounds/item_sounds.dm
Labels: none

backpack
  code/game/objects/items/weapons/storage/backpack.dm
Labels: none

Update item_sounds.dm
  code/datums/looping_sounds/item_sounds.dm
Labels: none

Update backpack.dm
  code/game/objects/items/weapons/storage/backpack.dm
Labels: none

доработка
  code/game/mecha/equipment/mecha_equipment.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/mecha.dm
  code/modules/projectiles/guns/medbeam.dm
Labels: none

spray
  code/modules/reagents/reagent_containers/spray.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/janitor.dmi
Labels: DMI

sprayspawn
  _maps/map_files/Delta/delta.dmm
  _maps/map_files/celestation/celestation.dmm
  _maps/map_files/cerestation/cerestation.dmm
  _maps/map_files/cyberiad/cyberiad.dmm
  _maps/map_files/nova/nova.dmm
Labels: MAP

tweak
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/research/designs/autolathe_designs.dm
Labels: none

Update code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/spray.dm
Labels: none

Update backpack.dm
  code/game/objects/items/weapons/storage/backpack.dm
Labels: none

bugfix: Fixes icon smooth for map templates
  code/controllers/subsystem/icon_smooth.dm
  code/datums/helper_datums/map_template.dm
Labels: none

added exception handling
  code/datums/helper_datums/map_template.dm
Labels: none

Тык
  code/game/machinery/adv_med.dm
Labels: none

add: Allows you to not load station
  code/controllers/configuration/entries/testing.dm
  code/controllers/subsystem/non-firing/mapping.dm
  config/example/config.txt
Labels: none

newpillbottle
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/research/designs/medical_designs.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/obj/chemical.dmi
Labels: DMI

Тык
  code/game/machinery/adv_med.dm
  code/modules/surgery/organs/organ_external.dm
Labels: none

bugfix: Fixes icon smoothing for sure
  code/controllers/subsystem/icon_smooth.dm
  code/controllers/subsystem/non-firing/atoms.dm
  code/modules/recycling/disposal.dm
Labels: none

fix4
  code/game/dna/genes/disabilities.dm
Labels: none

FINALLY
  code/game/dna/genes/disabilities.dm
Labels: none

code optimization, I guess
  code/modules/mob/living/carbon/human/species/grey.dm
  code/modules/surgery/organs/voice_translator.dm
Labels: none

again and again
  code/modules/client/preference/loadout/loadout_racial.dm
  code/modules/surgery/organs/voice_translator.dm
Labels: none

Дополнение
  _maps/map_files/nova/nova.dmm
Labels: MAP

Слипер и сканер
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/modules/surgery/organs/organ_external.dm
  tgui/packages/tgui/interfaces/BodyScanner.js
  tgui/packages/tgui/interfaces/Sleeper.js
  tgui/public/tgui.bundle.js
Labels: javascript, TGUI

ботаникаотделдляпидорасов
  code/modules/events/spacevine.dm
  code/modules/hydroponics/grown/kudzu.dm
Labels: none

Smol code clean
  code/modules/mob/living/carbon/human/species/grey.dm
Labels: none

Шапочка дед мороза(санты), и исправление ошибки
  code/modules/power/supermatter/supermatter.dm
  paradise.dme
Labels: none

Унификация: бот => робот
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/griefsky.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/bot/syndicate.dm
Labels: none

Тык
  code/game/jobs/job/support.dm
Labels: none

Тык
  code/modules/mob/living/simple_animal/friendly/animals_named.dm
  icons/mob/clothing/head.dmi
  icons/mob/inhands/mobs_lefthand.dmi
  icons/mob/inhands/mobs_righthand.dmi
Labels: DMI

no way
  code/modules/mob/new_player/sprite_accessories/ipc/ipc_face.dm
Labels: none

.github/labeler.yml:

# When the .py is changed
python:
  - './*.py'
  - '**/*.py'

# Javascript changes
javascript:
  - '**/*.js'

# Any .dmi changes
DMI:
  - '**/*.dmi'

# Changes to a .dmm
MAP:
  - '**/*.dmm'

# Encompasses both the tgui and the tgui-next folder
TGUI:
  - 'tgui/**'
  - 'tgui-next/**'
