Repository Matthew-Mak/Paradise-SS1984-MM, changes with the labels that .github/labeler.yml gives for each.
All labels: python, javascript, DMI, MAP, TGUI

.github/labeler.yml:

# When the .py is changed
python:
  - './*.py'
  - '**/*.py'

# Javascript changes
javascript:
  - '**/*.js'

# Any .dmi changes
DMI:
  - '**/*.dmi'

# Changes to a .dmm
MAP:
  - '**/*.dmm'

# Encompasses both the tgui and the tgui-next folder
TGUI:
  - 'tgui/**'
  - 'tgui-next/**'

Better that.
  code/game/mecha/combat/phazon.dm
  code/game/mecha/mecha.dm
Labels: none

Улучшение карты
  _maps/map_files/nova/nova.dmm
Labels: MAP

Откат изменений Новы
  _maps/map_files/nova/nova.dmm
Labels: MAP

fix2 + refact
  code/game/dna/dna_modifier.dm
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/goon_disabilities.dm
  code/game/dna/genes/goon_powers.dm
  code/game/dna/genes/monkey.dm
  code/game/dna/genes/powers.dm
  code/game/dna/genes/vg_disabilities.dm
  code/game/dna/genes/vg_powers.dm
Labels: none

Фикс карты
  _maps/map_files/celestation/celestation.dmm
Labels: MAP

fix3
  code/game/dna/dna_modifier.dm
Labels: none

fix4
  code/game/dna/dna_modifier.dm
Labels: none

fix5
  code/game/dna/dna_modifier.dm
  code/game/dna/genes/disabilities.dm
Labels: none

fix6
  code/game/dna/genes/disabilities.dm
Labels: none

Hotfix: Supply shuttle check, debug log spam
  code/modules/shuttle/supply.dm
  code/modules/space_management/space_reservation.dm
Labels: none

fix7
  code/game/dna/genes/disabilities.dm
Labels: none

bugfix: dna vault hotfix
  code/modules/station_goals/dna_vault.dm
Labels: none

Правки в карту
  _maps/map_files/nova/Lavaland.dmm
  _maps/map_files/nova/nova.dmm
Labels: MAP

Done.
  code/modules/instruments/objs/items/headphones.dm
Labels: none

Done.
  code/modules/power/lighting.dm
Labels: none

Done.
  code/modules/surgery/limb_reattach.dm
Labels: none

Better weight logic.
  code/game/objects/items/weapons/storage/belt.dm
Labels: none

fix8
  code/game/dna/dna_modifier.dm
Labels: none

bugfix: added failsafe check for elite fauna and chasms
  code/datums/components/chasm.dm
Labels: none

Update drask.dm
  code/modules/mob/living/carbon/human/species/drask.dm
Labels: none

server: Updated testmerge workflow
  .github/workflows/testmerge.yml
Labels: none

Revert "server: Updated testmerge workflow (#6127)"
  .github/workflows/testmerge.yml
Labels: none

server: improve testmerge worker 11
  .github/workflows/testmerge.yml
Labels: none

server: improve testmerge worker 16
  .github/workflows/testmerge.yml
Labels: none

server: improve testmerge worker 15
  .github/workflows/testmerge.yml
Labels: none

server: improve testmerge worker 18
  .github/workflows/testmerge.yml
Labels: none

server: improve testmerge worker 22
  .github/workflows/testmerge.yml
Labels: none

server: improve testmerge worker 19
  .github/workflows/testmerge.yml
Labels: none

server: improve testmerge worker 23
  .github/workflows/testmerge.yml
Labels: none

server: improve testmerge worker 14
  .github/workflows/testmerge.yml
Labels: none

server: improve testmerge worker 13
  .github/workflows/testmerge.yml
Labels: none

server: improve testmerge worker 12
  .github/workflows/testmerge.yml
Labels: none

server: improve testmerge worker 20
  .github/workflows/testmerge.yml
Labels: none

server: improve testmerge worker 17
  .github/workflows/testmerge.yml
Labels: none

Деменция
  code/modules/client/preference/loadout/loadout_donor.dm
  code/modules/client/preference/loadout/loadout_general.dm
Labels: none

server: improve testmerge worker 24
  .github/workflows/testmerge.yml
  tgui/bin/tgui
Labels: TGUI

server: improve testmerge worker 25
  tgui/bin/tgui
Labels: TGUI

server: improve testmerge worker 26
  tgui/bin/tgui
Labels: TGUI

Disabled commenting on testmerge for testing purposes
  .github/workflows/testmerge.yml
Labels: none

Фикс на будущие
  code/modules/client/preference/loadout/loadout_general.dm
Labels: none
