Repository Matthew-Mak/Paradise-SS1984-MM, changes with the labels that .github/labeler.yml gives for each.
All labels: python, javascript, DMI, MAP, TGUI

.github/labeler.yml:

# When the .py is changed
python:
  - './*.py'
  - '**/*.py'

# Javascript changes
javascript:
  - '**/*.js'

# Any .dmi changes
DMI:
  - '**/*.dmi'

# Changes to a .dmm
MAP:
  - '**/*.dmm'

# Encompasses both the tgui and the tgui-next folder
TGUI:
  - 'tgui/**'
  - 'tgui-next/**'

Перевод синдибота-турели
  code/modules/mob/living/simple_animal/bot/syndicate.dm
Labels: none

Update alpha.dm
  code/modules/mob/living/alpha.dm
Labels: none

Update alpha.dm
  code/modules/mob/living/alpha.dm
Labels: none

правки
  code/__DEFINES/lighting.dm
  code/game/dna/genes/goon_powers.dm
  code/game/gamemodes/clockwork/clockwork_items.dm
  code/game/gamemodes/shadowling/shadowling_abilities.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_spirit_form.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_stealth.dm
  code/modules/antagonists/space_ninja/suit/suit.dm
  code/modules/antagonists/vampire/vampire_datum.dm
Labels: none

forgotten moments
  code/__DEFINES/devil.dm
  code/datums/spells/devil.dm
  code/modules/antagonists/devil/devil.dm
Labels: none

smoke&foam
  code/__DEFINES/misc.dm
  code/__DEFINES/spells.dm
  code/datums/rituals.dm
  code/datums/spell.dm
  code/datums/spells/banana_touch.dm
  code/datums/spells/mime_malaise.dm
  code/datums/spells/rathens.dm
  code/game/gamemodes/wizard/godhand.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_actions.dm
  code/game/objects/effects/anomalies.dm
  code/game/objects/effects/effect_system/effects_explosion.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/weapons/alien_specific.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/game/objects/items/weapons/scrolls.dm
  code/game/objects/items/weapons/tuned_anomalous_teleporter.dm
  code/modules/antagonists/space_ninja/suit/ninja_equipment_actions/ninja_smoke_bomb.dm
  code/modules/antagonists/space_ninja/suit/suit.dm
  code/modules/food_and_drinks/drinks/drinks/cans.dm
  code/modules/food_and_drinks/kitchen_machinery/cooker.dm
  code/modules/mining/equipment/mining_charges.dm
  code/modules/mining/lavaland/loot/tendril_loot.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/abillities.dm
  code/modules/mob/living/simple_animal/hulk.dm
  code/modules/mob/living/simple_animal/hulk_power.dm
  code/modules/power/apc.dm
  code/modules/power/smes.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/guns/projectile/bombarda.dm
  code/modules/projectiles/projectile/magic.dm
  code/modules/reagents/chemistry/reagents/misc.dm
  code/modules/reagents/chemistry/recipes/others.dm
  code/modules/research/experimentor.dm
  code/modules/station_goals/bsa.dm
Labels: none

Update code/game/gamemodes/wizard/wizloadouts.dm
  code/game/gamemodes/wizard/wizloadouts.dm
Labels: none

Update code/datums/spells/area_teleport.dm
  code/datums/spells/area_teleport.dm
Labels: none

Update code/datums/spells/charge.dm
  code/datums/spells/charge.dm
Labels: none

Update code/datums/spells/devil.dm
  code/datums/spells/devil.dm
Labels: none

Update code/datums/spells/wizard.dm
  code/datums/spells/wizard.dm
Labels: none

Update code/game/gamemodes/wizard/spellbook.dm
  code/game/gamemodes/wizard/spellbook.dm
Labels: none

bugfix: Removes density on syndicate turret upon destruction
  code/game/machinery/portable_turret.dm
Labels: none

add: Titlescreen optimization for dreamseeker debug mode
  code/controllers/configuration/entries/testing.dm
  code/controllers/subsystem/non-firing/titlescreen.dm
  config/example/config.txt
Labels: none

Звук для пакмана
  code/datums/looping_sounds/machinery_sounds.dm
  code/modules/power/port_gen.dm
  sound/machines/generator/generator_end.ogg
  sound/machines/generator/generator_mid1.ogg
  sound/machines/generator/generator_mid2.ogg
  sound/machines/generator/generator_mid3.ogg
  sound/machines/generator/generator_start.ogg
Labels: none

Slight config refactor
  config/example/config.txt
Labels: none

Moved more sections
  config/example/config.txt
Labels: none

Перевод Генерала Грифски
  code/modules/mob/living/simple_animal/bot/griefsky.dm
Labels: none

Фикс
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: none

Фикс
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: none

Перевод мулбота
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: none

okay
  code/modules/power/port_gen.dm
Labels: none

Update code/game/objects/effects/anomalies.dm
  code/game/objects/effects/anomalies.dm
Labels: none

правки
  code/game/objects/effects/effect_system/effects_foam.dm
Labels: none

Wryn Hair color change Bugfix
  code/modules/client/preference/preferences.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
Labels: none

bugfix: Setups Malfunctioning AI as a special role to prevent double antaging
  code/__DEFINES/gamemode.dm
  code/game/gamemodes/antag_paradise/antag_paradise.dm
  code/modules/antagonists/malf_ai/malf_ai_datum.dm
  code/modules/mob/mob_helpers.dm
Labels: none

Recovered Wryn.dm
  code/modules/mob/living/carbon/human/species/wryn.dm
Labels: none

Additional tweak
  code/game/gamemodes/traitor/traitor.dm
Labels: none

Мелкие правки в карту
  _maps/map_files/nova/nova.dmm
Labels: MAP

Фикс
  code/modules/mob/living/simple_animal/bot/construction.dm
Labels: none

Правки
  code/__DEFINES/spells.dm
  code/datums/spell.dm
  code/datums/spells/area_teleport.dm
  code/datums/spells/construct_spells.dm
  code/datums/spells/wizard.dm
  code/modules/mob/living/simple_animal/hostile/terror_spiders/abillities.dm
Labels: none

forgotten moments fix
  code/game/gamemodes/devil/objectives.dm
Labels: none

Спрайты и гирлянды
  code/modules/power/supermatter/supermatter.dm
  icons/obj/engines_and_power/supermatter.dmi
Labels: DMI

Update backpack.dm
  code/game/objects/items/weapons/storage/backpack.dm
Labels: none

fix1
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/goon_powers.dm
Labels: none

fix2
  code/game/dna/genes/disabilities.dm
Labels: none

fix3
  code/game/dna/genes/disabilities.dm
  code/game/dna/genes/goon_powers.dm
Labels: none

fix
  code/game/gamemodes/clockwork/clockwork_structures.dm
Labels: none

spans
  code/game/gamemodes/clockwork/clockwork_structures.dm
Labels: none

br
  code/game/gamemodes/clockwork/clockwork_structures.dm
Labels: none
